// 	Menu Secundario
	–––––––––––––––––––––––––––––––––––––––––––––––––––––––––

div(class="menu_secondary")
		a(class="content_icons", href="#")
			div
				img(id="alumno", src="http://localhost/usmp_fia/assets/img/icons/icon_alumno.svg")
			span		
				h4 ALUMNOS
		a(class="content_icons", href="#")
			div
				img(id="docentes", src="http://localhost/usmp_fia/assets/img/icons/icon_docentes.svg")
			span
				h4 DOCENTES
		a(class="content_icons", href="#") 
			div
				img(id="grados" , src="http://localhost/usmp_fia/assets/img/icons/icon_grados.svg")
			span		
				h4 GRADOS Y TITULOS
		a(class="content_icons", href="http://intranet.usmp.edu.pe/procesoAcademico/loginSecure.aspx" , target="_black") 
			div
				img(id="intranet" , src="http://localhost/usmp_fia/assets/img/icons/icon_intranet.svg")
			span		
				h4 INTRANET
		a(class="content_icons", href="http://www.sibus.usmp.edu.pe/" , target="_black")
			div
				img(id="biblioteca" , src="http://localhost/usmp_fia/assets/img/icons/icon_biblioteca.svg")
			span		
				h4 BIBLIOTECA
	div(class="divider_triangle")
		div(class="triangulo_inf")