// 	FOOTER
	=========================================================

footer
	div(class="footer")
		p AV. LA FONTANA 1250 URB. STA. PATRICIA/TELÉFONO: (511) 208-600 FAX: 2086024
		P COPYRIGHT © ÁREA DE DISEÑO GRÁFICO Y MULTIMEDIA - FIA, USMP. TODOS LOS DERECHOS RESERVADOS