doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" , content="IE=edge")
		meta(name="viewport" , content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" ,  href="assets/img/logo_usmp.gif")
		link(rel="stylesheet" , href="assets/lib/css/normalize.min.css")
		link(rel="stylesheet" , href="assets/css/style.min.css")
		link(rel="stylesheet", href="assets/lib/css/menu_bubble.css")
		link(rel="stylesheet", href="assets/css/font-awesome.min.css")
		title USMP FIA
		
	body
		div(class="main_content")

			block header
			
			// 	CONTENT
				=========================================================

			div(class="content")
				block content

			block footer

		script(src="assets/lib/js/jquery.min.js")
		script(src="assets/lib/js/snap.svg-min.js")
		script(src="assets/lib/js/classie.js")
		script(src="assets/js/main.js")