// 	Decano
	–––––––––––––––––––––––––––––––––––––––––––––––––––––––––

section(class="container")
	article(id="decano")
		h2 PALABRAS DEL DECANO
		div(class="limitador")
		figure
			div
				img(src="../assets/img/img.jpg")
			span
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere maxime velit, possimus pariatur totam assumenda saepe voluptatibus aut ducimus eveniet beatae minima consequatur vitae, quibusdam dolorum blanditiis accusamus soluta delectus!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores magnam aut, reiciendis officia odit numquam voluptas, doloribus! Voluptate alias placeat, harum minus repellendus optio, accusantium sit nisi reprehenderit sequi nihil.
				br
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo obcaecati, aliquid quis quam aperiam, reiciendis ipsa non ducimus itaque quas libero laborum dolores natus cum similique! Minima impedit blanditiis fugiat.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum laboriosam, est adipisci modi alias rerum iusto corporis eius, neque impedit nostrum illo veniam aperiam, dolores quidem eos! Praesentium nam, velit!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus officia neque, amet nam eum quo quas impedit culpa porro. Labore commodi odio, asperiores quas velit incidunt iste aspernatur quasi fugiat.
		div(id="firma")
			span
				p Ing. Luis Celi Saavedra
				p Decano