// 	Contenido Principal
	–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	
section(class="container")

	section(class="noticias")
		header
			h2 NOTICIAS
		article
			h4 20 de enero 2016
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae vero hic quasi sit error nesciunt inventore, iure minus magni in praesentium sed animi delectus eos nulla? Voluptatum quia earum, quaerat!
		article
			h4 20 de enero 2016
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae vero hic quasi sit error nesciunt inventore, iure minus magni in praesentium sed animi delectus eos nulla? Voluptatum quia earum, quaerat!
		article
			h4 20 de enero 2016
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae vero hic quasi sit error nesciunt inventore, iure minus magni in praesentium sed animi delectus eos nulla? Voluptatum quia earum, quaerat!
		article
			h4 20 de enero 2016
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae vero hic quasi sit error nesciunt inventore, iure minus magni in praesentium sed animi delectus eos nulla? Voluptatum quia earum, quaerat!
		a(href="#") VER MÁS NOTICIAS	

	section(class="content_link")
		div(class="group" , id="group_1")
			a(href="#")
				img(src="assets/img/img.jpg")
				span 	
					h2 AULAS VIRTUALES
				div(class="divider_triangle")
					div(class="triangulo_sup")
			a(href="#")
				img(src="assets/img/img.jpg")
				span
					h2 ACREDITACIÓN INTERNACIONAL
				div(class="divider_triangle")
					div(class="triangulo_sup")
			a(href="#")
				img(src="assets/img/img.jpg")
				span
					h2 ASOCIACIÓN DE GRADUADOS
				div(class="divider_triangle")
					div(class="triangulo_sup")
		div(class="group")
			a(href="#")
				img(src="assets/img/img.jpg")
				span
					h2 BOLSA DE TRABAJO
				div(class="divider_triangle")
					div(class="triangulo_sup")
			a(href="#")
				img(src="assets/img/img.jpg")
				span
					h2 FIA DATA
				div(class="divider_triangle")
					div(class="triangulo_sup")
			a(href="#")
				img(src="assets/img/img.jpg")
				span
					h2 REVISTA INFOFIA
				div(class="divider_triangle")
					div(class="triangulo_sup")				

	section(class="eventos")
		header
			h2 EVENTOS
		div(class="content_article")
			article
				figure
					img(src="assets/img/img.jpg")
					h4 PRESENTACIÓN DEL PROYECTO FINAL DEL CURSO DE AUTOMATIZACIÓN INDUSTRIAL
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet consectetur impedit qui nobis accusantium.
				button Leer más
			article
				figure
					img(src="assets/img/img.jpg")
					h4 PRESENTACIÓN DEL PROYECTO FINAL DEL CURSO DE AUTOMATIZACIÓN INDUSTRIAL
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet consectetur impedit qui nobis accusantium.
				button Leer más
		a(href="#") MÁS NOVEDADES
		div(class="divider_triangle")
			div(class="triangulo_inf")
	
	section(class="agenda")
		header
			h2 AGENDA
		div
			span 22
			div
				h4 ENERO 2016
				p  Matricula Extemporánea de los Curso de Nivelación
		div
			span 31
			div
				h4 ENERO 2016
				p  Concurso Ordinario de Admisión
		div
			span 09
			div
				h4 ENERO 2016
				p  Clausura de los Cursos de Nivelación
		div
			span 15
			div
				h4 ENERO 2016
				p  Inicio Ciclo Introductorio

	section(class="video")
		div(id="container_video")
			iframe(src="https://www.youtube-nocookie.com/embed/Ybp_mqem8l4" frameborder="0" , allowfullscreen)

	section(class="map")
		div(id="container_map")
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.585081210205!2d-76.94434908503688!3d-12.072043745658373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c6e79034dc63%3A0x393610bdc506718b!2sFacultad+de+Ingenieria+y+Arquitectura!5e0!3m2!1ses!2spe!4v1455204747377" , frameborder="0" ,allowfullscreen)