// 	Autoridades
	–––––––––––––––––––––––––––––––––––––––––––––––––––––––––

section(class="container")
	section(id="autoridades")
		h2 AUTORIDADES
		div(class="limitador")
		article
			header
				h3 Organos de Dirección
			section
				div(class="box" , id="box_1")
					img(src="../assets/img/chang.gif", alt="")
					div(class="text_autoridades" , id="text_rector")
						p El Decano es el representante de la Facultad de Ingeniería y Arquitectura ante la Asamblea Universitaria, el Consejo Universitario y otras instituciones públicas y privadas, para lo cual se encuentra incluido de las prerrogativas inherentes a su cargo.
						span Ing. José Antonio Chang Escobedo
							<br> Rector de la Universidad de San Martín de Porres
							<br> Central Telefónica: 362-0064/317-2130
							<br>anexos: 3103/3136
				div(class="box")
					img(src="../assets/img/chang.gif", alt="Decano")
					div(class="text_autoridades")
						p  El Decano es el representante de la Facultad de Ingeniería y Arquitectura ante la Asamblea Universitaria, el Consejo Universitario y otras instituciones públicas y privadas, para lo cual se encuentra incluido de las prerrogativas inherentes a su cargo.
						span Ing. Luis Celi Saavedra
							<br> Decano
							<br> decanofia@usmp.pe
							<br> 2086000 anexo 1101
		article
			header
				h3 Organos de Linea
			ul
				li
					a(href="#accordion1" , class="js-accordionTrigger") Direccion de Escuelas Profesionales
						div(class="triangulo_inf")
				div(class="accordionItem is-collapsed" , id="accordion1")
					p La Secretaría es una unidad, encargada de ejecutar todos los trabajos de apoyo administrativo de la Facultad, y de los elementos orgánicos que la conforman.			
				li
					a(href="#accordion2" , class="js-accordionTrigger") Instituto de Investigación
						div(class="triangulo_inf")
				div(class="accordionItem is-collapsed" , id="accordion2")
					p El Instituto de Investigación de la Facultad de Ingeniería y Arquitectura de la USMP es el organismo encargado de proyectar, coordinar, realizar y promover la investigación en la Facultad, en concordancia con la política general trazada por la Universidad en el área. Tiene además como uno de sus objetivos más importantes proveer o coadyuvar a la formación de investigadores en las especialidades de computación y sistemas, electrónica e ingeniería industrial empleando los recursos con que cuenta la Facultad: profesores, laboratorios, centro de computo, biblioteca, tecnología, etc.
				li
					a(href="#accordion3" , class="js-accordionTrigger") Oficina de Extensión y Proyección Universitaria
						div(class="triangulo_inf")
				div(class="accordionItem is-collapsed" , id="accordion3")
					span
						p La Oficina de Extensión y Proyección Universitaria, es el órgano de línea encargado de planear, dirigir y controlar las actividades de proyección de la Facultad hacia la comunidad, de acuerdo a los lineamientos que establece el Estatuto de la Universidad.
						p En tal sentido, la Facultad organiza actividades de cultura general y de carácter profesional, tales como cursos y servicios de extensión universitaria, en las diversas especialidades de Ingeniería de Computación y Sistemas, de Ingeniería Industrial, de Ingeniería Electrónica, de Ingeniería Civil y de Arquitectura, dirigidas a personas que no sean solo sus alumnos regulares, sino también a sus graduados, titulados y comunidad en general.
						p Tiene como misión la tarea de difundir en la modalidad de extensión y proyección universitaria, programas culturales y académicos que permitan a los interesados capacitarse en diferentes disciplinas. Dichos programas contribuirán en la formación integral de las personas.
				li
					a(href="#accordion4" , class="js-accordionTrigger") Sección de Postgrado
						div(class="triangulo_inf")
				div(class="accordionItem is-collapsed" , id="accordion4")
					p La sección de postgrado es el órgano de apoyo de la Facultad que canaliza el interés por realizar estudios de perfeccionamiento. La sección Postgrado de la Facultad ofrece estudios de post-grado conducentes a la obtención del grado académico de MAESTRÍA EN INGENIERÍA DE COMPUTACIÓN Y SISTEMAS, como aporte de la aplicación de las Tecnologías de Información a la modernización del Comercio, la Industria y la Sociedad en general en nuestro país.
		article
			header
				h3 Organos de Apoyo
			ul
				li
					a(href="#accordion5" , class="js-accordionTrigger") Secretaría de la Facultad
						div(class="triangulo_inf")
				div(class="accordionItem is-collapsed" id="accordion5")
					p La Secretaría es una unidad, encargada de ejecutar todos los trabajos de apoyo administrativo de la Facultad, y de los elementos orgánicos que la conforman.
				li
					a(href="#accordion6" , class="js-accordionTrigger") Departamento Académico
						div(class="triangulo_inf")
				div(class="accordionItem is-collapsed" id="accordion6")
					p El Departamento Académico de Ingeniería y Arquitectura apoya planeando, organizando, coordinando, dirigiendo y supervisando las actividades de enseñanza y proyección académica, en relación con las políticas específicas de la Facultad de Ingeniería y Arquitectura, y de las políticas generales de la Universidad de San Martín de Porres.	
				li
					a(href="#accordion7" , class="js-accordionTrigger") Coordinación Académica
						div(class="triangulo_inf")
				div(class="accordionItem is-collapsed" id="accordion7")
					span
						p La Oficina de Coordinación Académica es una dependencia del Decanato y es el nexo principal entre la Facultad, los alumnos, sus docentes y el público en general.
						p Con el fin de garantizar la calidad de la enseñanza, provee el material y equipo necesario para el desarrollo de las clases, controla la asistencia, supervisa a los docentes y verifica el desarrollo y cumplimiento de los sílabos.
						p Encargada de la administración de los procesos de evaluación; coordina, programa, dirige y controla las prácticas calificadas y exámenes. Desde aquí los Coordinadores Académicos, en sus diferentes turnos, brindan un servicio integral y personalizado, informando y atendiendo sus consultas.
				li
					a(href="#accordion8" , class="js-accordionTrigger") Oficina Administrativa
						div(class="triangulo_inf")
				div(class="accordionItem is-collapsed" id="accordion8")
					p Es el órgano de apoyo del Decanato, encargado de brindar soporte a todas las áreas de la Facultad, a fin de lograr el óptimo desarrollo de las actividades académicas. Además realiza la planeación, organización, dirección, supervisión y control de la gestión de capital humano y control patrimonial de la Facultad.
				li
					a(href="#accordion9" , class="js-accordionTrigger") Oficina de Grados y Títulos
						div(class="triangulo_inf")
				div(class="accordionItem is-collapsed" id="accordion9")
					span 
						p La Oficina de Grados y Títulos de la Facultad de Ingeniería y Arquitectura es responsable de programar, organizar y ejecutar las actividades de su competencia; y lleva el registro de Graduados y Titulados de la Facultad.
						p Es la encargada de recepcionar, tramitar y registrar oficialmente la documentación referida para la obtención de los grados Académicos de Bachiller, Maestría y Doctorado así como el Título Profesional.
				li
					a(href="#accordion10" , class="js-accordionTrigger") Oficina de Bienestar Universitario
						div(class="triangulo_inf")
				div(class="accordionItem is-collapsed" id="accordion10")
					p La Oficina de Bienestar Universitario es un órgano de apoyo que ofrece a los alumnos servicios de apoyo y promoción humana.