extends layouts/layout_secondary

block header
	include layouts/header
	
	div(id="espaciado")
	
	include includes/menu_secondary

block content

	include contents/ctn_decano

	include includes/social
	
block footer
	include layouts/footer