/* Content Palabras del Decano
   ––––––––––––––––––––––––––––––––––––––––––– */
#decano {
  width: 100%;
  h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .limitador {
    width: 100%;
    height: 1px;
    margin: 10px 0px 20px 0px;
    background-color: $bgc_secondary;
  }

  figure {
    width: 100%;
    margin: 0;
    padding: 0;
    div {
      width: 35%;
      img {
        width: 100%;
      }
    }
    span {
      width: 65%;
      margin-left: 20px;
      text-align: justify;
    }
  }
  #firma {
    @include flex(row, flex-end , null);
    span {
      margin-right: 50px;
      font-weight: bold;
      p {
        text-align: center;
      }
    }
  }
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 550px){
  #decano {
    figure {
      div {
        width: 50%;
        img {
          width: 100%;
        }
      }
      span {
        font-size: 0.8rem;
      }
    }
    #firma {
      margin-top: 25px;
      @include flex(row, flex-end , null);
      span {
        margin-right: 50px;
        font-weight: bold;
        p {
          text-align: center;
          font-size: 0.8rem;
        }
      }
    }
  }
}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 551px) and (max-width: 749px){
  #decano {
    figure {
      div {
        width: 50%;
        img {
          width: 100%;
        }
      }
      span {
        font-size: 0.8rem;
      }
    }
    #firma {
      margin-top: 25px;
      @include flex(row, flex-end , null);
      span {
        margin-right: 50px;
        font-weight: bold;
        p {
          text-align: center;
          font-size: 0.8rem;
        }
      }
    }
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 750px) and (max-width: 999px){
  #decano {
    figure {
      @include flex(row, null , null);
      span {
        font-size: 0.8rem;
      }
    }
    #firma {
      margin-top: 25px;
      @include flex(row, flex-end , null);
      span {
        margin-right: 50px;
        font-weight: bold;
        p {
          text-align: center;
          font-size: 0.8rem;
        }
      }
    }
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 1000px) and (max-width: 1199px){
  #decano {
    figure {
      @include flex(row, null , null);
      span {
        font-size: 0.9rem;
      }
    }
    #firma {
      margin-top: 25px;
      @include flex(row, flex-end , null);
      span {
        margin-right: 50px;
        font-weight: bold;
        p {
          text-align: center;
          font-size: 0.8rem;
        }
      }
    }
  }
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 1200px){
  #decano {
    figure {
      @include flex(row, null , null);
      span {
        font-size: 1rem;
      }
    }
    #firma {
      margin-top: 25px;
      @include flex(row, flex-end , null);
      span {
        margin-right: 50px;
        font-weight: bold;
        p {
          text-align: center;
          font-size: 0.8rem;
        }
      }
    }
  }
}

